<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lnkk.pw</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div class="h-screen bg-gray-50 flex flex-col">
      <main class="w-auto max-w-lg m-auto bg-white rounded-xl shadow-lg">
        <div class="px-8 py-5">
          <h1 class="font-sans font-semibold text-3xl">lnkk.pw</h1>
          <form id="form">
            <label
              for="url"
              class="mt-2 block text-sm font-medium text-gray-700"
            >
              <span class="advanced h-0 overflow-hidden opacity-0 block"
                >단축할 URL</span
              >
              <div class="relative rounded-md shadow-sm">
                <input
                  type="url"
                  id="url"
                  class="
                    focus:ring-indigo-500 focus:border-indigo-500
                    block
                    w-full
                    sm:text-sm
                    border-gray-300
                    rounded-md
                  "
                  placeholder="https://example.com"
                />
              </div>
            </label>

            <label
              for="link"
              class="
                advanced
                h-0
                mt-2
                overflow-hidden
                opacity-0
                block
                text-sm
                font-medium
                text-gray-700
              "
            >
              <span>커스텀 URL</span>
              <div class="relative rounded-md shadow-sm">
                <input
                  type="url"
                  id="link"
                  class="
                    focus:ring-indigo-500 focus:border-indigo-500
                    block
                    w-full
                    sm:text-sm
                    border-gray-300
                    rounded-md
                  "
                  placeholder="https://example.com"
                />
              </div>
            </label>
            <label>
              <input type="submit" class="hidden" value="단축" />
              <button
                id="shorten"
                class="
                  inline-flex
                  items-center
                  justify-center
                  px-4
                  py-1.5
                  mt-2
                  w-full
                  border border-transparent
                  text-base
                  font-medium
                  rounded-md
                  text-white
                  bg-indigo-600
                  hover:bg-indigo-700
                "
                role="button"
              >
                단축
              </button>
            </label>
            <div class="flex items-start mt-2">
              <div class="flex items-center h-5">
                <input
                  id="custom"
                  type="checkbox"
                  class="
                    focus:ring-transparent
                    h-4
                    w-4
                    text-indigo-600
                    border-gray-300
                    rounded
                  "
                />
              </div>
              <div class="ml-2 text-sm">
                <label for="custom" class="font-medium text-gray-700"
                  >커스텀 URL 사용</label
                >
              </div>
            </div>
          </form>
        </div>
      </main>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
