@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: local("Spoqa Han Sans Neo Bold"),
    url("/fonts/SpoqaHanSansNeo-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: local("Spoqa Han Sans Neo Medium"),
    url("/fonts/SpoqaHanSansNeo-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: local("Spoqa Han Sans Neo Regular"),
    url("/fonts/SpoqaHanSansNeo-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  src: local("Spoqa Han Sans Neo Light"),
    url("/fonts/SpoqaHanSansNeo-Light.otf") format("opentype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 100;
  src: local("Spoqa Han Sans Neo Thin"),
    url("/fonts/SpoqaHanSansNeo-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins-Medium"),
    url(/fonts/Poppins-Medium.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: local("Poppins-MediumItalic"),
    url(/fonts/Poppins-MediumItalic.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins-SemiBold"),
    url(/fonts/Poppins-SemiBold.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
  src: local("Poppins-SemiBoldItalic"),
    url(/fonts/Poppins-SemiBoldItalic.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: local("Poppins-Bold"), url(/fonts/Poppins-Bold.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: local("Poppins-BoldItalic"),
    url(/fonts/Poppins-BoldItalic.ttf) format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

* {
  font-family: "Poppins", "Spoqa Han Sans Neo", sans-serif;
}

body {
  margin: 0;
  background-color: #fbfbfe;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1;
  font-weight: 400;
}

main {
  box-shadow: #959da533 0px 8px 24px;
  width: 30rem;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.darkmode--activated main {
  box-shadow: #959da533 0px 8px 24px;
}

main h1 {
  margin: 0 0.3rem;
  font-weight: 600;
}

div.content {
  padding: 1.5rem;
}

form {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 0.2rem;
}

form:focus-within {
  border-color: #0a84ff;
  box-shadow: 0 0 0 3px rgba(10, 132, 255, 0.3);
}

.darkmode--activated form:focus-within {
  border-color: #f57b00;
  box-shadow: 0 0 0 3px rgba(245, 123, 0, 0.3);
}

input {
  height: 2.5rem;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  border-radius: 2rem 0 0 2rem;
  box-sizing: border-box;
  outline: none;
}

label input[type="submit"] {
  display: none;
}

label button {
  border: 0;
  border-radius: 2rem;
  background-color: #007eff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 0.8;
}

label button svg {
  stroke: white;
  stroke-width: 1.5px;
}

div.about {
  background-color: #f8f9fc;
  border-radius: 0 0 1rem 1rem;
  box-sizing: border-box;
  padding: 1rem 1.8rem;
}

div.about h4 {
  font-weight: 500;
}
